<!DOCTYPE html>
<html>
	<head>
		<title>
			Musicality!!!
		</title>
		<link rel="stylesheet" href="/choice.css">
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/js/choice.js"></script>		
	</head>
	<body onload="onLoad('<%=@artistID%>')">

	<div class = "minwidth1">
		<div class = "content" id="content">
			<div class="header" id="header">
				<div class="headerText" id = "headerText">
				</div>
				<div class="headerLoadingBar" id="headerLoadingBar">
				</div>
			</div>
		</div>
	</div>

	<div class = "minwidth1">
		<div class="songs" id="songs">
			<div class = "minwidth">
				<div class = "left" id="left">
					<div class="songsButtonLeft" id="songsButtonLeft">
					</div>
					<div class="songsLeftContent" id="songsLeftContent">
					</div>
				</div>
					
				<div class = "right" id="right">
					<div class="songsButtonRight" id="songsButtonRight">
					</div>
					<div class="songsRightContent" id="songsRightContent">
					<div>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>


